<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head(title='login.page')"></head>

<body>
<main role="main" class="container">
    <div class="container-fluid d-flex h-100 p-3 mx-auto flex-column justify-content-center">
        <form method="post" action="/login">
            <h2 th:text="#{login.login}"></h2>
            <p>
                <label for="username" class="sr-only">Email</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Email" required
                       autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Hasło</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Hasło"
                       required>
            </p>
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>
            <div th:text="#{login.wrongCredentials}" th:if="${error}" class="alert alert-danger" role="alert"></div>
            <button class="btn btn-lg btn-primary btn-block" th:text="#{login.login}" type="submit"></button>
            <a th:text="#{login.registration}" href="/registration"></a>
        </form>
    </div>
</main>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>
